.uploader {
    display: 'flex';
    flex-direction: 'column';
    justify-content: 'center';
    
    
}

.button {
    display: flex;
    color:rgb(125, 204, 125);
}

.buttonUpload {
    display: flex;
    color: palevioletred;
}